public/screenshots/n8n/archive/ai-lead-generation-chatbot/workflow.json
{
  "name": "Project 12 — AI Lead Generation & Qualification Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1coEJkrZtOcXsQxhQbQQYR-L5mtRAPjPp3SX46Jxqhp4",
          "mode": "list",
          "cachedResultName": "Lead Qualification Form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1coEJkrZtOcXsQxhQbQQYR-L5mtRAPjPp3SX46Jxqhp4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1434121692,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1coEJkrZtOcXsQxhQbQQYR-L5mtRAPjPp3SX46Jxqhp4/edit#gid=1434121692"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fa84d971-c763-4547-b545-bb5a6dd1f969",
      "name": "Lead Submission Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "3IyXs6KYgy29jyNo",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f6385536-8c05-486c-bf2b-7747ea9af338",
              "leftValue": "={{ $json[\"Full Name\"] }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "4b2ceec4-c7db-40b0-bffa-dac75855f255",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "35169550-c7cd-4e36-82c5-9c6c66b23814",
              "leftValue": "={{ $json.Budget }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "3cef0b17-6639-4dd0-a8e4-4a76ddfc58ed",
      "name": "Validate Lead Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Lead Qualification Specialist.\n\nAnalyze this lead and return ONLY valid JSON.\n\nLead Information\n\nName: {{ $('Lead Submission Trigger').item.json['Full Name'] }}\n\nEmail: {{ $('Lead Submission Trigger').item.json.Email }}\n\nCompany: {{ $('Lead Submission Trigger').item.json['Company Name'] }}\n\nJob Title: {{ $('Lead Submission Trigger').item.json['Job Title'] }}\n\nIndustry: {{ $('Lead Submission Trigger').item.json.Industry }}\n\nCompany Size: {{ $('Lead Submission Trigger').item.json['Company Size'] }}\n\nBudget: {{ $('Lead Submission Trigger').item.json.Budget }}\n\nProject Description:{{ $('Lead Submission Trigger').item.json['Project Description'] }}\n\nQualification Rules:\n\n1. Budget >= 3000\n2. Company Size >= 20\n3. Must have a clear automation need\n\nReturn ONLY JSON:\n\n{\n  \"lead_score\": 90,\n  \"qualification\": \"Qualified\",\n  \"reason\": \"Lead has sufficient budget and a clear business need.\"\n} {{ $json['Full Name'] }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        -96
      ],
      "id": "7ade749b-65d7-4b3e-8db3-4cae0fc43655",
      "name": "AI Lead Qualification Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        336,
        160
      ],
      "id": "7e57f811-50de-4409-b596-74f77cbc22a0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jdzxjueqqVGIb0ks",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"lead_score\": 90,\n  \"qualification\": \"Qualified\",\n  \"reason\": \"Lead has sufficient budget and a clear business need.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        592,
        128
      ],
      "id": "e66488cc-029b-47bc-ab5d-510d441d8243",
      "name": "Lead Qualification Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "967ff4e9-c037-4c97-a088-069f0592cb50",
              "leftValue": "={{ $json.output.lead_score }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        768,
        -96
      ],
      "id": "6add034b-957f-4f8d-a070-24b32d6c6e36",
      "name": "Evaluate Lead Score"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BC8MDAATW",
          "mode": "list",
          "cachedResultName": "sales-team"
        },
        "text": "=🔥 New Qualified Lead\n\nName:\n{{ $('Lead Submission Trigger').item.json['Full Name'] }}\n\nCompany:\n{{ $('Lead Submission Trigger').item.json['Company Name'] }}\n\nJob Title:\n{{ $('Lead Submission Trigger').item.json['Job Title'] }}\n\nBudget:\n${{ $('Lead Submission Trigger').item.json.Budget }}\n\nLead Score:\n{{ $json.output.lead_score }}\n\nQualification:\n{{ $json.output.qualification }}\n\nReason:\n{{ $json.output.reason }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        976,
        -192
      ],
      "id": "7e705416-cf3e-46ed-8785-c2068e7a1915",
      "name": "Notify Sales Team",
      "webhookId": "f5ebcd69-e229-4df0-923f-2aa25f9faff9",
      "credentials": {
        "slackOAuth2Api": {
          "id": "aWctgZyx31RxAfYv",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1coEJkrZtOcXsQxhQbQQYR-L5mtRAPjPp3SX46Jxqhp4",
          "mode": "list",
          "cachedResultName": "Lead Qualification Form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1coEJkrZtOcXsQxhQbQQYR-L5mtRAPjPp3SX46Jxqhp4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 535587476,
          "mode": "list",
          "cachedResultName": "Qualified Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1coEJkrZtOcXsQxhQbQQYR-L5mtRAPjPp3SX46Jxqhp4/edit#gid=535587476"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Lead Score": "={{ $('AI Lead Qualification Agent').item.json.output.lead_score }}",
            "Qualification": "={{ $('AI Lead Qualification Agent').item.json.output.qualification }}",
            "Reason": "={{ $('AI Lead Qualification Agent').item.json.output.reason }}",
            "Timestamp": "={{ $('Lead Submission Trigger').item.json.Timestamp }}",
            "Full Name": "={{ $('Lead Submission Trigger').item.json['Full Name'] }}",
            "Email": "={{ $('Lead Submission Trigger').item.json.Email }}",
            "Company Name": "={{ $('Lead Submission Trigger').item.json['Company Name'] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualification",
              "displayName": "Qualification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1184,
        -192
      ],
      "id": "a883975e-b9c2-4c54-b79c-feed200cfdc4",
      "name": "Qualified Leads Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LdXXLdqGPHzuOQEo",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1coEJkrZtOcXsQxhQbQQYR-L5mtRAPjPp3SX46Jxqhp4",
          "mode": "list",
          "cachedResultName": "Lead Qualification Form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1coEJkrZtOcXsQxhQbQQYR-L5mtRAPjPp3SX46Jxqhp4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 696884833,
          "mode": "list",
          "cachedResultName": "Rejected Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1coEJkrZtOcXsQxhQbQQYR-L5mtRAPjPp3SX46Jxqhp4/edit#gid=696884833"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Lead Submission Trigger').item.json.Timestamp }}",
            "Full Name": "={{ $('Lead Submission Trigger').item.json['Full Name'] }}",
            "Email": "={{ $('Lead Submission Trigger').item.json.Email }}",
            "Company Name": "={{ $('Lead Submission Trigger').item.json['Company Name'] }}",
            "Lead Score": "={{ $('AI Lead Qualification Agent').item.json.output.lead_score }}",
            "Qualification": "={{ $('AI Lead Qualification Agent').item.json.output.qualification }}",
            "Reason": "={{ $('AI Lead Qualification Agent').item.json.output.reason }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Name",
              "displayName": "Full Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Qualification",
              "displayName": "Qualification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Reason",
              "displayName": "Reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        976,
        0
      ],
      "id": "2f952de9-fc7e-4623-8e89-93b8441b69a0",
      "name": "Rejected Lead Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LdXXLdqGPHzuOQEo",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Lead Submission Trigger": {
      "main": [
        [
          {
            "node": "Validate Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Lead Data": {
      "main": [
        [
          {
            "node": "AI Lead Qualification Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Lead Qualification Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Lead Qualification Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Lead Qualification Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Qualification Agent": {
      "main": [
        [
          {
            "node": "Evaluate Lead Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Lead Score": {
      "main": [
        [
          {
            "node": "Notify Sales Team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rejected Lead Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Sales Team": {
      "main": [
        [
          {
            "node": "Qualified Leads Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "bfd80dd6-4eac-4470-b23c-8c6ec4428edb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd7b7bbf3f6f14e7610d28f7fa3bda0d8d10de799154be046458e9bce8a3f176"
  },
  "nodeGroups": [],
  "id": "woykMp9BpZsPC13J",
  "tags": []
}