public/screenshots/n8n/archive/ai-resume-optimizer-ats/workflow.json
{
  "name": "Project 13 – AI Resume Optimizer & ATS Screening System",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "10jlqjQau9oJaXU6xFL7P6GGb_209EB9OYMuE4dWgVTk",
          "mode": "list",
          "cachedResultName": "Job Description Submission Form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10jlqjQau9oJaXU6xFL7P6GGb_209EB9OYMuE4dWgVTk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1199161825,
          "mode": "list",
          "cachedResultName": "Form responses 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10jlqjQau9oJaXU6xFL7P6GGb_209EB9OYMuE4dWgVTk/edit#gid=1199161825"
        },
        "event": "rowAdded",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "5b4025b7-44f8-4a26-adc0-57350643cc4b",
      "name": "Job Submission Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "3IyXs6KYgy29jyNo",
          "name": "Google Sheets Trigger OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cf74a61f-cf70-4d3b-bf5d-ca6ceb973c49",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        224
      ],
      "id": "23288851-3947-44e7-92c2-b488fe192691",
      "name": "Prepare Resume Data"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert Resume Reviewer and ATS Optimization Specialist.\n\nAnalyze the candidate's resume against the job description.\n\nCandidate Name: {{ $('Job Submission Trigger').item.json.Name }}\n\nTarget Job Title: {{ $('Job Submission Trigger').item.json['Target Job Title'] }}\n\n\nJob Description: {{ $('Job Submission Trigger').item.json['Job Description'] }}\n\nResume Content: {{ $json.text }}\n\nEvaluate the resume and return ONLY valid JSON.\n\n{\n\"ats_score\": 85,\n\"skills_match\": \"Strong\",\n\"missing_skills\": \"List missing skills\",\n\"strengths\": \"List strengths\",\n\"weaknesses\": \"List weaknesses\",\n\"improvements\": \"List improvements\",\n\"interview_readiness\": \"Ready\"\n}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        656,
        0
      ],
      "id": "2914bb77-16da-4ebf-bdb9-3ad220040182",
      "name": "AI Resume Optimizer"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        528,
        224
      ],
      "id": "c0a22e4e-713c-4ee3-ad21-9aa68e9858ad",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jdzxjueqqVGIb0ks",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"ats_score\": 85,\n  \"skills_match\": \"Strong\",\n  \"missing_skills\": \"SQL, Power BI\",\n  \"strengths\": \"Customer support experience\",\n  \"weaknesses\": \"Missing technical keywords\",\n  \"improvements\": \"Add measurable achievements\",\n  \"interview_readiness\": \"Ready\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        800,
        224
      ],
      "id": "e8bf1ce0-acf7-4278-9c2a-534ea9f26362",
      "name": "Resume Analysis Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "43a9740e-0f40-41ec-9c3a-b3f3a64d1737",
              "name": "=resume_file_id",
              "value": "={{ $('Job Submission Trigger').item.json.Resume.split('id=')[1] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "066874b2-0ed6-4e0d-808d-d908c20a4a0d",
      "name": "Extract Resume File ID"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.resume_file_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        224
      ],
      "id": "2ddc4c51-e3b5-4228-a7fe-81d95f08eeb4",
      "name": "Download Resume",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "psZrJi2nIs7xkxOw",
          "name": "Google Drive OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        448,
        0
      ],
      "id": "96bbf8df-bed4-435b-b838-782e5e538598",
      "name": "Extract Resume Text"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "51c8cc4f-72f3-4e9b-a1dc-34ba2f346b40",
              "leftValue": "={{ $json.output.ats_score }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        0
      ],
      "id": "6b46ed30-34cc-42f9-86f4-f5bf7338daf4",
      "name": "Evaluate ATS Score"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10jlqjQau9oJaXU6xFL7P6GGb_209EB9OYMuE4dWgVTk",
          "mode": "list",
          "cachedResultName": "Job Description Submission Form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10jlqjQau9oJaXU6xFL7P6GGb_209EB9OYMuE4dWgVTk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2104791276,
          "mode": "list",
          "cachedResultName": "Qualified Candidates",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10jlqjQau9oJaXU6xFL7P6GGb_209EB9OYMuE4dWgVTk/edit#gid=2104791276"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Job Submission Trigger').item.json.Timestamp }}",
            "Name": "={{ $('Job Submission Trigger').item.json.Name }}",
            "Email": "={{ $('Job Submission Trigger').item.json.Email }}",
            "Target Job Title": "={{ $('Job Submission Trigger').item.json['Target Job Title'] }}",
            "ATS Score": "={{ $json.output.ats_score }}",
            "Qualification": "=Qualified",
            "Strengths": "={{ $json.output.strengths }}",
            "Improvements": "={{ $json.output.improvements }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Target Job Title",
              "displayName": "Target Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Score",
              "displayName": "ATS Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Qualification",
              "displayName": "Qualification",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Strengths",
              "displayName": "Strengths",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Improvements",
              "displayName": "Improvements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        -160
      ],
      "id": "cc3bfcf1-6077-46b4-90a8-f6ebd7f0b953",
      "name": "Qualified Resumes Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LdXXLdqGPHzuOQEo",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BBX9DQ96U",
          "mode": "list",
          "cachedResultName": "all-jlba"
        },
        "text": "=✅ Qualified Candidate Found  \n\nName: {{ $('Job Submission Trigger').item.json.Name }}  \n\nTarget Position: {{ $('Job Submission Trigger').item.json['Target Job Title'] }}  \n\nATS Score: {{ $('Evaluate ATS Score').item.json.output.ats_score }}\n\nRecommendation: Proceed to interview.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        1328,
        -160
      ],
      "id": "8d014ef9-1cd1-4b76-b8ae-99d738f29120",
      "name": "Notify Recruiter",
      "webhookId": "34246d0f-458f-4f46-9d53-7c4446c646f3",
      "credentials": {
        "slackOAuth2Api": {
          "id": "aWctgZyx31RxAfYv",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10jlqjQau9oJaXU6xFL7P6GGb_209EB9OYMuE4dWgVTk",
          "mode": "list",
          "cachedResultName": "Job Description Submission Form (Responses)",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10jlqjQau9oJaXU6xFL7P6GGb_209EB9OYMuE4dWgVTk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 526841469,
          "mode": "list",
          "cachedResultName": "Needs Improvement",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10jlqjQau9oJaXU6xFL7P6GGb_209EB9OYMuE4dWgVTk/edit#gid=526841469"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $('Job Submission Trigger').item.json.Timestamp }}",
            "Name": "={{ $('Job Submission Trigger').item.json.Name }}",
            "Email": "={{ $('Job Submission Trigger').item.json.Email }}",
            "ATS Score": "={{ $('AI Resume Optimizer').item.json.output.ats_score }}",
            "Missing Skills": "={{ $('AI Resume Optimizer').item.json.output.missing_skills }}",
            "Weakness": "={{ $('AI Resume Optimizer').item.json.output.weaknesses }}",
            "Improvements": "={{ $('AI Resume Optimizer').item.json.output.improvements }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ATS Score",
              "displayName": "ATS Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Missing Skills",
              "displayName": "Missing Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weakness",
              "displayName": "Weakness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Improvements",
              "displayName": "Improvements",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        128
      ],
      "id": "e3f6da2f-9f8f-4638-bbeb-a73d570e0cf5",
      "name": "Resume Improvement Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LdXXLdqGPHzuOQEo",
          "name": "Google Sheets OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Job Submission Trigger": {
      "main": [
        [
          {
            "node": "Prepare Resume Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Resume Data": {
      "main": [
        [
          {
            "node": "Extract Resume File ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Resume Optimizer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Resume Analysis Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Resume Optimizer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume File ID": {
      "main": [
        [
          {
            "node": "Download Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Resume": {
      "main": [
        [
          {
            "node": "Extract Resume Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Resume Text": {
      "main": [
        [
          {
            "node": "AI Resume Optimizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Resume Optimizer": {
      "main": [
        [
          {
            "node": "Evaluate ATS Score",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate ATS Score": {
      "main": [
        [
          {
            "node": "Qualified Resumes Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resume Improvement Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qualified Resumes Sheet": {
      "main": [
        [
          {
            "node": "Notify Recruiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a97a3654-12a0-45ca-ba3e-12d5a5c205a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd7b7bbf3f6f14e7610d28f7fa3bda0d8d10de799154be046458e9bce8a3f176"
  },
  "nodeGroups": [],
  "id": "tp56OQROGUNOwL1D",
  "tags": []
}