public/screenshots/n8n/archive/ai-customer-review-monitoring/workflow.json
{
  "name": "Project 09 — AI Customer Review Monitoring & Sentiment Alert System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-review",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "b7c864a8-ae7b-4441-be81-ed23a8319e81",
      "name": "Customer Review Webhook",
      "webhookId": "13a80a6e-af85-4298-b14e-fd79fc52b705"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        112,
        160
      ],
      "id": "fb9d250e-dad1-4906-a427-7d2a1132af6c",
      "name": "Gemini Sentiment Analysis Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jdzxjueqqVGIb0ks",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a customer feedback analyst.\n\nAnalyze the review and determine:\n\nsentiment\n\nAllowed values:\n\n- Positive\n- Neutral\n- Negative\n\nurgency\n\nAllowed values:\n\n- Low\n- Medium\n- High\n\nreason\n\nReview: {{ $json.body.review }}\n\nRules\n\nPositive:\nCustomer is satisfied.\n\nNeutral:\nMixed feedback.\n\nNegative:\nCustomer is unhappy.\n\nHigh Urgency:\nRefund issues\nBilling issues\nService outages\nSerious complaints\n\nReturn ONLY valid JSON.\nDo not return scores.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        224,
        0
      ],
      "id": "fec3c374-7ba5-4502-994c-62125a43b793",
      "name": "AI Sentiment Analysis Engine"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"sentiment\": \"string\",\n  \"urgency\": \"string\",\n  \"reason\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        368,
        208
      ],
      "id": "05380153-bfe6-4228-a04e-d0fc44a485bc",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        0
      ],
      "id": "851c314e-06bc-4dc2-b8bd-3c32ca96cbc4",
      "name": "Parse Sentiment Analysis"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a5cf3bea-c2d2-4275-86e4-10590b46889a",
              "leftValue": "={{ $json.output.sentiment }}",
              "rightValue": "Negative",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        784,
        0
      ],
      "id": "bd646514-bd84-439c-88d7-f68bfa41a7eb",
      "name": "If"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BBX9DQ96U",
          "mode": "list",
          "cachedResultName": "all-jlba"
        },
        "text": "=🚨 NEGATIVE CUSTOMER REVIEW  \nCustomer: {{ $('Customer Review Webhook').item.json.body.customer_name }}\nEmail: {{ $('Customer Review Webhook').item.json.body.email }}\nSentiment: {{ $json.output.sentiment }}  \nUrgency: {{ $json.output.urgency }}  \nReason: {{ $json.output.reason }}  \nReview: {{ $('Customer Review Webhook').item.json.body.review }}\n\nAutomated with this n8n workflow",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        992,
        -96
      ],
      "id": "17afb12a-0344-4952-a226-d44e3b411e64",
      "name": "Notify Management",
      "webhookId": "aafa9fd8-cc9e-4708-8f3f-e75262454829",
      "credentials": {
        "slackOAuth2Api": {
          "id": "aWctgZyx31RxAfYv",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BBX9DQ96U",
          "mode": "list",
          "cachedResultName": "all-jlba"
        },
        "text": "=📝 CUSTOMER REVIEW ARCHIVED  \nCustomer: {{ $('Customer Review Webhook').item.json.body.customer_name }}\nSentiment: {{ $json.output.sentiment }}  \nUrgency: {{ $json.output.urgency }}  \nReason: {{ $json.output.reason }} \n\nAutomated with this n8n workflow\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        992,
        96
      ],
      "id": "e08b1dde-769f-4318-ae84-4cf7193d1600",
      "name": "Archive Review",
      "webhookId": "35431723-e25e-48db-8290-9f33f9e357ea",
      "credentials": {
        "slackOAuth2Api": {
          "id": "aWctgZyx31RxAfYv",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Customer Review Webhook": {
      "main": [
        [
          {
            "node": "AI Sentiment Analysis Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Sentiment Analysis Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Sentiment Analysis Engine",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Sentiment Analysis Engine",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Sentiment Analysis Engine": {
      "main": [
        [
          {
            "node": "Parse Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Sentiment Analysis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Notify Management",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Archive Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "59b9a928-180b-4aa8-b202-046b183cbc78",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd7b7bbf3f6f14e7610d28f7fa3bda0d8d10de799154be046458e9bce8a3f176"
  },
  "nodeGroups": [],
  "id": "Lo9rsm45qByqAaBU",
  "tags": []
}