public/screenshots/n8n/archive/ai-support-ticket-triage/workflow.json
{
  "name": "Project 10 — AI Support Ticket Triage & Auto-Priority System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "support-ticket",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8fbe15a5-c1e5-4a5e-be12-d36634919acf",
      "name": "Support Ticket Webhook",
      "webhookId": "0e6bf3df-b129-4091-924f-ec605f12790a"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "60697008-c6a5-4ade-8950-174a47228a81",
      "name": "Gemini Ticket Classification Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jdzxjueqqVGIb0ks",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a customer support ticket analyst.\n\nAnalyze the support ticket.\n\nDetermine:\n\ncategory\n\nAllowed values:\n\n- Billing\n- Account Support\n- Account Security\n- Technical Issue\n- General Inquiry\n\npriority\n\nAllowed values:\n\n- Low\n- Medium\n- High\n- Critical\n\nreason\n\nTicket Subject:\n{{ $json.body.ticket_subject }}\n\nTicket Message:\n{{ $json.body.ticket_message }}\n\nRules\n\nCritical:\n- Hacked account\n- Security breach\n- Unauthorized access\n\nHigh:\n- Missing purchases\n- Billing problems\n- Service unavailable\n\nMedium:\n- Technical issues\n- Repeated failures\n\nLow:\n- General questions\n- How-to requests\n\nReturn ONLY valid JSON.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "48bc5220-9c5c-4350-a0b5-ddf1d67b4483",
      "name": "AI Ticket Triage Engine"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"category\": \"string\",\n  \"priority\": \"string\",\n  \"reason\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "c490a985-6c4f-4b75-a8b2-1949d76862db",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cdd540bc-0fb4-47ca-a734-ccaf5f5eb3ae",
              "leftValue": "={{ $json.output.priority }}",
              "rightValue": "Critical",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        752,
        0
      ],
      "id": "e492edb6-7d8d-4a43-8ff0-aa53e4ab8a33",
      "name": "Evaluate Priority"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        0
      ],
      "id": "26b1de80-f5bd-466f-9e41-805d0eb66f68",
      "name": "Parse Ticket Classification"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BBQS5F4RH",
          "mode": "list",
          "cachedResultName": "team-lead-alerts"
        },
        "text": "=🚨 CRITICAL SUPPORT TICKET\n\nCustomer: {{ $('Support Ticket Webhook').item.json.body.customer_name }}\n\n\nEmail: {{ $('Support Ticket Webhook').item.json.body.email }}\n\nCategory: {{ $('Parse Ticket Classification').item.json.output.category }}\n\nPriority: {{ $('Parse Ticket Classification').item.json.output.priority }}\n\nReason: {{ $('Parse Ticket Classification').item.json.output.reason }}\n\n\nSubject: {{ $('Support Ticket Webhook').item.json.body.ticket_subject }}\n\n\nMessage: {{ $('Support Ticket Webhook').item.json.body.ticket_message }}\n\nAutomated with this n8n workflow",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        960,
        -96
      ],
      "id": "67837a14-1448-42ee-bc5b-637709bd59f0",
      "name": "Alert Support Manager",
      "webhookId": "5de6743b-ba90-4e6c-82de-e8142e44ecc4",
      "credentials": {
        "slackOAuth2Api": {
          "id": "aWctgZyx31RxAfYv",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BC8ME3GQL",
          "mode": "list",
          "cachedResultName": "archive-request"
        },
        "text": "=🎫 SUPPORT TICKET ROUTED\n\nCustomer: {{ $('Support Ticket Webhook').item.json.body.customer_name }} \n\nCategory: {{ $('Parse Ticket Classification').item.json.output.category }}\n\nPriority: {{ $json.output.priority }}\n\nReason: {{ $json.output.reason }}\n\nSubject: {{ $('Support Ticket Webhook').item.json.body.ticket_subject }} \n\nAutomated with this n8n workflow\n",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        960,
        96
      ],
      "id": "3ee21647-ee6c-4b88-9e92-6976c5c74e38",
      "name": "Route Ticket",
      "webhookId": "a5564415-35a3-4584-b4d2-b8539ea126f7",
      "credentials": {
        "slackOAuth2Api": {
          "id": "aWctgZyx31RxAfYv",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Support Ticket Webhook": {
      "main": [
        [
          {
            "node": "AI Ticket Triage Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Ticket Classification Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Ticket Triage Engine",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Ticket Triage Engine",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Ticket Triage Engine": {
      "main": [
        [
          {
            "node": "Parse Ticket Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Ticket Classification": {
      "main": [
        [
          {
            "node": "Evaluate Priority",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Priority": {
      "main": [
        [
          {
            "node": "Alert Support Manager",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Route Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9e2edd11-1da8-463e-88cd-5f25f8ae7bcb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd7b7bbf3f6f14e7610d28f7fa3bda0d8d10de799154be046458e9bce8a3f176"
  },
  "nodeGroups": [],
  "id": "qlnzyYl09kDikM1B",
  "tags": []
}