public/screenshots/n8n/archive/ai-executive-assistant/workflow.json
{
  "name": "AI Executive Assistant",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "e39dc37d-8a18-4636-ac3e-e283eaaf27d4",
      "name": "Daily Executive Brief"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "f013750c-58ea-4556-ad6f-4dd4e51e0b7b",
      "name": "Read Unread Emails",
      "webhookId": "36927813-7eea-4fe9-83fd-f057f5e11e65",
      "credentials": {
        "gmailOAuth2": {
          "id": "8LDnA7JWjcyHhwdR",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "roocnoyap@gmail.com",
          "mode": "list",
          "cachedResultName": "roocnoyap@gmail.com"
        },
        "limit": 10,
        "timeMin": "={{ $now.startOf('day').toISO() }}",
        "timeMax": "={{ $now.endOf('day').toISO() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "2c0f0c2d-c55d-4027-8b08-5c80e8bac5a6",
      "name": "Read Today's Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "TzWDMEXX6LpoqAMy",
          "name": "Google Calendar OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "MTAxODcwNDI1ODUwNDc4NjgwMzU6MDow",
        "limit": 10,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasks",
      "typeVersion": 1,
      "position": [
        624,
        0
      ],
      "id": "753d6c2e-d312-4435-a0fd-f8cee70f091a",
      "name": "Read Pending Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "R09AnR0J14XwhNID",
          "name": "Google Tasks OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an Executive Assistant.\n\nYou receive:\n\n• Unread emails\n• Today's meetings\n• Pending tasks\n\nPrepare a concise executive briefing.\n\nInclude:\n\n1. Email Summary\n2. Meeting Schedule\n3. Pending Tasks\n4. Top Priorities\n5. Recommended Actions\n\nKeep the report professional and concise.\n\nRespond ONLY using the required JSON format.\n\n\nUnread Emails\n\n{{ JSON.stringify($json, null, 2) }}\n\n\nToday's executive information:\n\n{{ JSON.stringify($json, null, 2) }}\n\nCreate a professional executive morning briefing.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        0
      ],
      "id": "26e6634b-6438-4250-8a77-b46f416b0380",
      "name": "AI Executive Assistant"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        736,
        208
      ],
      "id": "ce3ccb47-2640-472f-8d2e-1469bc4d9665",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "x67f9aAPFf2WHX5e",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"email_summary\": \"You have 5 unread emails, including one from a client.\",\n  \"meeting_summary\": \"Two meetings scheduled today.\",\n  \"task_summary\": \"Three pending tasks.\",\n  \"priorities\": \"Respond to the client proposal and attend the 2 PM meeting.\",\n  \"recommendations\": \"Finish high-priority tasks before noon and review unread client emails.\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1008,
        224
      ],
      "id": "a0b20ee5-fe2c-4620-864f-b76acd560eea",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ca7889d1-55f8-4696-b8df-02878a98c20b",
              "name": "executive_brief",
              "value": "=<h2>📋 Executive Morning Brief</h2>  <h3>📧 Email Summary</h3>  <p>{{ $('AI Executive Assistant').item.json.output.email_summary }}</p>  <h3>📅 Today's Meetings</h3>  <p>{{ $('AI Executive Assistant').item.json.output.meeting_summary }}</p>  <h3>✅ Pending Tasks</h3>  <p>{{ $('AI Executive Assistant').item.json.output.task_summary }}</p>  <h3>⚠️ Priorities</h3>  <p>{{ $('AI Executive Assistant').item.json.output.priorities }}</p>  <h3>💡 Recommendations</h3>  <p>{{ $('AI Executive Assistant').item.json.output.recommendations }}</p>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        0
      ],
      "id": "514184b4-73b6-4f70-a604-adf5a1757080",
      "name": "Generate Executive Brief"
    },
    {
      "parameters": {
        "sendTo": "roocnoyap@gmail.com",
        "subject": "=Executive Morning Brief - {{ $now.toFormat('MMMM dd, yyyy') }}",
        "message": "={{ $json.executive_brief }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1296,
        0
      ],
      "id": "3c384051-e672-437f-b3df-771961fa37d2",
      "name": "Send Executive Email",
      "webhookId": "c840f747-39e9-4647-ac1f-e455700d4cdc",
      "credentials": {
        "gmailOAuth2": {
          "id": "8LDnA7JWjcyHhwdR",
          "name": "Gmail OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Executive Brief": {
      "main": [
        [
          {
            "node": "Read Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Unread Emails": {
      "main": [
        [
          {
            "node": "Read Today's Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Today's Calendar": {
      "main": [
        [
          {
            "node": "Read Pending Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Pending Tasks": {
      "main": [
        [
          {
            "node": "AI Executive Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Executive Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Executive Assistant",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Executive Assistant": {
      "main": [
        [
          {
            "node": "Generate Executive Brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Executive Brief": {
      "main": [
        [
          {
            "node": "Send Executive Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "487c32c2-12cd-43c8-8948-598235d34ab1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd7b7bbf3f6f14e7610d28f7fa3bda0d8d10de799154be046458e9bce8a3f176"
  },
  "nodeGroups": [],
  "id": "jeKd53hioWi7qCch",
  "tags": []
}