public/screenshots/n8n/archive/ai-customer-feedback-analyzer/workflow.json
{
  "name": "AI Customer Feedback Analyzer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "customer-feedback",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "aeb99735-683f-4712-8cde-428747020744",
      "name": "Customer Feedback Webhook",
      "webhookId": "651ab58a-7069-48b2-86ed-156b70e9735d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a customer feedback analyst.\n\nAnalyze the customer feedback.\n\nCustomer Name:\n{{ $json.body.customer_name }}\n\nFeedback:\n{{ $json.body.feedback }}\n\nDetermine:\n\n1. sentiment\n- Positive\n- Neutral\n- Negative\n\n2. urgency\n- Low\n- Medium\n- High\n\n3. reason\n\nReturn ONLY valid JSON.\n\nExample:\n\n{\n  \"sentiment\": \"Positive\",\n  \"urgency\": \"Low\",\n  \"reason\": \"Customer expressed satisfaction with the support experience.\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "ac7f0c92-1255-4576-b85b-4b662ed885df",
      "name": "AI Sentiment Analyzer"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "7bb9fa92-9e42-414b-931b-d1ec94de828c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jdzxjueqqVGIb0ks",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"sentiment\": \"string\",\n  \"urgency\": \"string\",\n  \"reason\": \"string\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        384,
        208
      ],
      "id": "37c41eea-2492-4875-99c1-67e99df6a2bd",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "361fb843-de4f-4fc5-9890-71d9761db41c",
              "leftValue": "={{ $json.output.sentiment }}",
              "rightValue": "Positive",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        560,
        0
      ],
      "id": "7e5aad8d-7529-44fe-a2ab-deab530057a7",
      "name": "Route Feedback"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BBX9DQ96U",
          "mode": "list",
          "cachedResultName": "all-jlba"
        },
        "text": "=😊 POSITIVE CUSTOMER FEEDBACK  \n\nCustomer: {{ $('Customer Feedback Webhook').item.json.body.customer_name }}  \n\nEmail: {{ $('Customer Feedback Webhook').item.json.body.email }}  \n\nReason: {{ $json.output.reason }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        768,
        -96
      ],
      "id": "82526b65-8792-46c8-97d6-50fed8024dd9",
      "name": "Notify Customer Success Team",
      "webhookId": "5b827066-d88f-477c-8a7c-546907f21cc6",
      "credentials": {
        "slackOAuth2Api": {
          "id": "aWctgZyx31RxAfYv",
          "name": "Slack OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0BBX9DQ96U",
          "mode": "list",
          "cachedResultName": "all-jlba"
        },
        "text": "=🚨 CUSTOMER ISSUE REQUIRES REVIEW  \n\nCustomer: {{ $('Customer Feedback Webhook').item.json.body.customer_name }}  \n\nEmail: {{ $('Customer Feedback Webhook').item.json.body.email }}  \n\nSentiment: {{ $json.output.sentiment }}  \n\nUrgency: {{ $json.output.urgency }}\n\nReason: {{ $json.output.reason }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.5,
      "position": [
        768,
        96
      ],
      "id": "f19eaeda-0861-427d-ac7f-e36e328c80e6",
      "name": "Notify Support Manager",
      "webhookId": "94e01cb2-bca4-4ea4-b455-790dbdc0f5be",
      "credentials": {
        "slackOAuth2Api": {
          "id": "aWctgZyx31RxAfYv",
          "name": "Slack OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Customer Feedback Webhook": {
      "main": [
        [
          {
            "node": "AI Sentiment Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Sentiment Analyzer",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Sentiment Analyzer",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Sentiment Analyzer": {
      "main": [
        [
          {
            "node": "Route Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Feedback": {
      "main": [
        [
          {
            "node": "Notify Customer Success Team",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Support Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0000689e-dbf1-4fb6-8893-fc28a733dd2f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dd7b7bbf3f6f14e7610d28f7fa3bda0d8d10de799154be046458e9bce8a3f176"
  },
  "nodeGroups": [],
  "id": "ql4bbH7MDBdigrBz",
  "tags": []
}